{% extends 'base.html.twig' %}

{% block body %}
    <div><img src="{{ asset('img/pokemon/pokemon_logo.svg.png') }}" style="height: 25em"></div>
    <h2>Attrapez-les tous!</h2>
{% endblock %}

{% block title %}
    {{ parent() }} | Accueil
{% endblock %}

